@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: TurretRoad;
    src: url("./assets/font/TurretRoad-Bold.ttf");
  }

  * {
    font-family: TurretRoad;
    color:white
  }

  body {
    background-color: black;
  }